*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	background-color:#B94866 ;
}

.navegador{
    list-style-type:none;
    text-align: center;
	padding: 3rem;
	display: inline-block;
	margin-left: 15%;
	vertical-align: top;

}

.navegador li {
    display: inline;
    text-align: center;
	justify-content: center; 
	padding: 3rem; 
}
.navegador li a {
    text-decoration: none;
	font-size: 27px;
	padding: 1rem;
	color: #450f2f;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight:unset;

}

.navegador li a:hover{
    background-color: #942164;
    color: #d3d5e7;
}



header{
	background-color: #e18ea9;
	height: 170px;
	display: block;
	justify-content: center;
}
header img{
	width: 130px;
	display: inline-block;
	justify-content: left;
	vertical-align: middle;
	margin-left: 10%;
}
h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 70px;
	display: inline-block;
	text-align: center;
	color: #611853;
	vertical-align: middle;
	margin-left: 7%;
}

.headerproductos{
	background-color: #e18ea9;
	height: 170px;
	display: block;
	justify-content: center;
}
.alas1{
	width: 130px;
	display: inline-block;
	justify-content: left;
	vertical-align: middle;
	margin-left: 23%;
}
.h1productos{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 70px;
	display: inline-block;
	text-align: center;
	color: #611853;
	vertical-align: middle;
	margin-left: 7%;
}
.headercontacto{
	background-color: #e18ea9;
	height: 170px;
	display: block;
	justify-content: center;
}
.alas2{
	width: 130px;
	display: inline-block;
	justify-content: left;
	vertical-align: middle;
	margin-left: 23%;
}
.h1contacto{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 70px;
	display: inline-block;
	text-align: center;
	color: #611853;
	vertical-align: middle;
	margin-left: 7%;
}

.Rosetta{
	display: inline;
	margin-left: 3%;
}

.fotoRosetta{
	height: 200px;
	
}

h2 {
	font-family: 'Libre Baskerville', serif;
	font-family: 'Special Elite', cursive;
	font-family: 'Zilla Slab', serif;
	display: block;
	text-align: center;
	padding-top: 1rem;
	font-size: 50px;
	color: #450f2f;
}

p{
	font-size: 10px;
	display: flex;
	justify-content: center;
}

.galeria {
	display: inline;
	text-align: center;
	padding: 1rem;
}

.galeria div a {
	padding: 1rem;
}

.info .div1 p{
	font-size: 25px;
	padding: 0.5rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:#220423
}
.div1{
	color: rgb(99, 12, 84);
    border: 6px solid currentcolor;
    padding: 5px;  
}

.info .div2 li{
	font-size: 25px;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:#220423
}
.div2{
	color: rgb(99, 12, 84);
    border: 6px solid currentcolor;
    padding: 15px; 
	margin-top: 1%;
}
.info .div3{
	margin-bottom: 7%;
}
.info .div3 p{
	font-size: 25px;
	padding: 0.5rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:#220423
}
.div3{
	color: rgb(99, 12, 84);
    border: 6px solid currentcolor;
    padding: 15px; 
	margin-top: 1%;
}

.ramos div p{
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:#19312e;
	font-weight:bolder
}
.ramos div{
	display: inline-block;
	margin-bottom: 4%;
	padding: 0.5rem;

}

.ramos{
	display: inline-block;
	text-align: center;
	padding: 2rem;
}
.ramos img{
	padding: 1rem;
	height: 260px;
	width: 250px;
}
.polaroid {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(184, 49, 49, 0.19);
	text-align: center;
	background-color:#b95e76
}
.polaroid :hover{
	background-color: #942164;
    color: #d3d5e7;
}
  
.container2 {
	padding: 10px;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 300px;
	margin-bottom: 20%;
	
}
.column h4{
	
	color: #51243e;
	font-size: 30px;
	font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
}
.column p{
	margin-left: 10%;
	font-size: 25px;
	font-family: 'Libre Baskerville', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Zilla Slab', serif;
}
.column img{
	margin-top: 5%;
} 
.fotodireccion{
	width: 450px;
	height: 280px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 10%;

}
@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  margin-bottom: 70%;
	}
	.column img{
		margin-right: 10%;
	}
}

form{
	width:380px;
	padding:2rem;
	border-radius:20px;
	margin:auto;
	background-color:#e18ea9;
	margin-left: 10%;
}
form label{
	font-size: 30px;
	width:72px;
	font-weight:bold;
	display: inline;
	justify-content: center;
}
form input{
	width:100%;
	padding:8px 16px;
	margin-top:5%;
	border:1px solid #83092f;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#eecfd9;
}
form textarea{
	width:100%;
	padding:8px 16px;
	margin-top:5%;
	border:1px solid #83092f;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#eecfd9;
}


.fotodireccion{
	max-width: 500px;
}

.Pfooter{
   font-family: 'Libre Baskerville', serif;
   font-family: 'Special Elite', cursive;
   font-family: 'Zilla Slab', serif;
   display: block;
   text-align: center;
   padding-top: 1rem;
   font-size: 25px;
}

footer{
	background-color:#e18ea9;
	height: 140px;
}

footer img{
	display: block;
	text-align: center;
	margin-top: 2rem;
	margin-left: 3%;
	
}
footer .instagram{
	display: inline-block;
	align-items: center;
	height: 60px;
}
footer .tiktok{
	display: inline-block;
	margin-left: 20px;
	height: 60px;
}

.divfooter{
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 700px;
	position: relative;
	margin: auto;
	min-height: 75px;
  }
  
  .elementoCarousel {
	display: none;
  }
  
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }

  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }

  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  #myBtn {
	display: none; 
	position: fixed; 
	bottom: 3%;
	right: 4%; 
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: rgb(208, 2, 2);
	color: #f2f2f2; 
	cursor: pointer; 
	padding: 1rem;
	border-radius: 10px;
	font-size: 1.1rem;
  }
  
  #myBtn:hover {
	background-color: #555; 
}


@media (max-width: 480px) {
	header{
		max-height: 110px;
	}
	
	h1{
		font-size: 50px;
		margin-left: 4%;
	}
	.headercontacto img{
		display: none;
	}
	.headerproductos img{
		display: none;
	}
	header img{
		display: none;
	}
	.galeria{
		width: 500px;
	}
	.Rosetta{
		display: inline-block;
		justify-content: center;
		margin-left: 40%;
		margin-top: 3%;
	}
	.Rosetta2{
		display: inline-block;
		margin-left: 40%;
		margin-top: 3%;
	}
    
	.navegador ul li{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 60%;
		padding: 0rem;
	}
	
	.h1productos{
		margin-left: 20%;
	}
	.h1contacto{
		margin-left: 20%;
	}
	.info{
		text-align: center;
	}
	img .instagram{
		margin-left: 0%;
	}
		
	
	
}
